<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Logan Allums-Quinn</h1>
            <hr>
            <p>Welcome to my portfolio! Having worked with start-ups and historic companies for five years, 
                I have extensive experience in instructional design and project management. 
                This portfolio features highlights from my many projects.</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
