<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Available Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Course & Program Development</h3>
                    <p class="text-muted">The ADDIE, SAM, and AGILE models of instructional design are 
                        used to develop learner-centered training.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Training & Effiency Analysis</h3>
                    <p class="text-muted">Analyzation of data such as employee satisfaction and knowledge retention
                         improves training methods and employee efficiency. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Learning Management System Administration</h3>
                    <p class="text-muted">Quality LMS administration focuses on keeping the knowledge 
                        base simple, up-to-date, and accurate for the organization. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Video Practice & Coaching</h3>
                    <p class="text-muted">Employee performance is improved by practicing with personalized
                         feedback.</p>
                </div>
            </div>
        </div>
    </div>
</section>
