<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      <b>Description:</b> This course is part of a financial literacy curriculum. The overall curriculum addresses topics,
      such as credit, taxes, investing, and mortgages. This course focuses on mortgage programs, specifically the difference betweeen 
      conventional and non-conventional mortgages. It was created in Articulate Rise. 
    </p>

  <br/>
     <h3>Learning Objectives:</h3> 
     <ol>
      <li> Describe the difference between conventional and non-conventional mortgages. </li>
   <li> Explain the criteria lenders and government sponsored enterprises use for loan qualification.</li>
  </ol>
  
    <iframe src="https://waynestateprod-my.sharepoint.com/personal/ez4759_wayne_edu/_layouts/15/embed.aspx?
    UniqueId=532d3cdf-6ddf-47fd-8ed6-21c6f5f451cc" width="640" height="360" frameborder="0" scrolling="no" 
    allowfullscreen title="mortgage_programs.pdf"></iframe>
    
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>