<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      This course is part of a financial literacy curriculum. The overall curriculum addresses topics,
      such as credit, taxes, investing, and mortgages. This course focuses on mortgage programs, specifically the difference betweeen 
      conventional and non-conventional mortgages. It was created in Articulate Rise. 
    </p>

     <h3>Learning Objectives:</h3> 
  
    <p>Describe the difference between conventional and non-conventional mortgages.</p>
   <p>Explain the criteria lenders and government sponsored enterprises use for loan qualification.</p>

  <object data="img/portfolio/Mortgage_Program.pdf" type="application/pdf" width="560px" height="340px">
    <embed src="img/portfolio/Mortgage_Program.pdf" type="application/pdf">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="img/portfolio/Mortgage_Program.pdf">Download PDF</a>.</p>
    </embed>
</object>
  </div>
    
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>