<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      This is a module from a leadership development program designed for 
      managers with little to no prior management experience. The program is most effective when delivered 
      live and in-person, but can also be successful virtually. This module focuses on coaching, and was developed
      using Powerpoint. The facilitator guide is included in the Notes section. 
    </p>

     <h3>Learning Objectives:</h3> 

  <p>Explain the value of coaching.</p> 
  <p>Apply the FUEL model during coaching.</p>
  
  <iframe width="560" height="340" src="https://www.youtube.com/embed/M3PT5V-Q0oA?si=IMK5LKqIefR8XlMl" 
  title="Management MAsterclass: Coaching" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
  gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <object data="img/portfolio/FUEL_Coaching.pdf" type="application/pdf" width="560px" height="340px">
        <embed src="img/portfolio/FUEL_Coaching.pdf" type="application/pdf">
            <p>This browser does not support PDFs. Please download the PDF to view it: <a href="img/portfolio/FUEL_Coaching.pdf">Download PDF</a>.</p>
        </embed>
    </object>

</div>

  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>