<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      Description: This is a module from a leadership development program designed for 
      managers with little to no prior management experience. The program is most effective when delivered 
      live and in-person, but can also be successful virtually. This module focuses on coaching, and was developed
      using Powerpoint. The facilitator guide is included in the Notes section. 
      
  <br/>
     <em>Learning Objectives:</em> 
  <li>
    Explain the value of coaching.
    Apply the FUEL model during coaching.
    </li>
    </p>
    <iframe src="https://waynestateprod-my.sharepoint.com/personal/ez4759_wayne_edu/
    _layouts/15/Doc.aspx?sourcedoc={2ccc8047-4b86-4142-a821-d6512a367b5b}&amp;action=embedview&amp;
    wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1024px" height="768px" frameborder="0">This is 
    an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by
     <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    
</div>

  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>