<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      <b>Description:</b> This course is titled "Phishing Awareness." Users learn to recognize indicators of phishing attempts. 
      The storyboard was made using Powerpoint, and the final interactive product was developed using Captivate. It features a 
      hot spot activity to practice recognizing phishing signs. As a result of this microtraining, the team witnessed its highest 
      level of engagement to date. </p>
  <br/>
<p>
     <h3>Learning Objectives:</h3> 

  <ol>
    <li>Recognize signs of a phishing attempt.</li> 
    <li>Determine the steps to take when targeted by a phishing attempt.</li>
  </ol>
</p>

<iframe width="560" height="340" src="https://www.youtube.com/embed/GqBjv5rz3S0?si=7rqY4aECu3PjIjUY" 
title="Phishing Awareness" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
  
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>