<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include subnav.html %}

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Overview</h2>
    <hr class="primary">
    <p>
      Description: This course is titled "Phishing Awareness". Users learn to recognize indicators of phishing attempts. 
      The storyboard was developed in Powerpoint, and the final product was made using Captivate. This microtraining
      was delivered across the company, and resulted in the highest engagement the team had seen. 
  <br/>
     <em>Learning Objectives:</em> 
  <li>
    Recognize signs of a phishing attempt. 
    Determine the steps to take when targeted by a phishing attempt.
    </li>
    </p>
    <object data="https://youtu.be/GqBjv5rz3S0"></object>

</div>
  
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>